/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
body {
  font-family: "Candara", sans-serif;
  font-size: 1em;
  background-color: #d9d2d2;
  color: #2e2e2e;
  margin: 0 auto;
}

/* line 20, ../sass/style.scss */
header {
  background: black;
  box-shadow: 0px 5px 5px #6e1514;
  min-width: 320px;
}
/* line 25, ../sass/style.scss */
header .logo {
  background: url("../images/logo4.png") black no-repeat;
  max-width: 920px;
  height: 137px;
  min-width: 320px;
  margin-bottom: 8px;
}
/* line 32, ../sass/style.scss */
header .logo a {
  display: block;
  height: 100%;
}
/* line 44, ../sass/style.scss */
header nav {
  position: relative;
  max-width: 920px;
}
/* line 47, ../sass/style.scss */
header nav .menu {
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  color: #6e1514;
  background: black;
  top: -42px;
  right: 8px;
  z-index: 1000;
}
/* line 58, ../sass/style.scss */
header nav ul {
  display: none;
  width: 100%;
  position: absolute;
  top: -8px;
  box-shadow: 0px 5px 5px #6e1514;
}
/* line 66, ../sass/style.scss */
header nav ul li {
  display: block;
}
/* line 69, ../sass/style.scss */
header nav ul li a {
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 135%;
  font-family: "Fredericka the Great", serif;
  color: #6e1514;
  background-color: #a7a2a2;
}
/* line 82, ../sass/style.scss */
header nav ul li a:hover {
  color: #a7a2a2;
  background-color: #6e1514;
}
/* line 90, ../sass/style.scss */
header .active {
  color: #a7a2a2;
  background-color: #6e1514;
}

/* line 97, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Fredericka the Great", serif;
  text-align: center;
  margin: 18px 0;
}

/* line 103, ../sass/style.scss */
h1 {
  font-size: 2.5em;
}

/* line 106, ../sass/style.scss */
h2 {
  font-size: 2.1em;
}

/* line 109, ../sass/style.scss */
h3 {
  font-size: 1.9em;
}

/* line 112, ../sass/style.scss */
h4 {
  font-size: 1.5em;
}

/* line 118, ../sass/style.scss */
.img {
  border: 5px solid rgba(190, 0, 0, 0.4);
  padding: 5px;
  background-color: white;
}

/* line 123, ../sass/style.scss */
img {
  opacity: 0.5;
}

/* line 127, ../sass/style.scss */
img:hover {
  opacity: 1;
}

/* line 131, ../sass/style.scss */
.img-center {
  margin: 5px auto 15px auto;
  display: block;
}

/* line 140, ../sass/style.scss */
#content {
  margin: 0 25px;
  max-width: 920px;
}
/* line 143, ../sass/style.scss */
#content ul {
  padding-left: 5px;
}
/* line 145, ../sass/style.scss */
#content ul li {
  margin: 7px 10px;
}

/* line 151, ../sass/style.scss */
footer {
  height: 50px;
}

/* line 10, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}
/* line 18, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper #root_footer {
  height: 50px;
}

/* line 20, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 50px;
}

@media (min-width: 600px) {
  /* line 161, ../sass/style.scss */
  header .logo {
    height: 170px;
  }
  /* line 165, ../sass/style.scss */
  header nav {
    text-align: center;
  }
  /* line 166, ../sass/style.scss */
  header nav .menu {
    display: none;
  }
  /* line 170, ../sass/style.scss */
  header nav ul {
    margin: 0 auto;
    top: -43px;
    display: block;
    box-shadow: none;
  }
  /* line 175, ../sass/style.scss */
  header nav ul li {
    display: inline-block;
    margin: 0 5px;
  }
  /* line 178, ../sass/style.scss */
  header nav ul li a {
    background: none;
    padding: 0 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  /* line 190, ../sass/style.scss */
  #content {
    margin: 0 25px;
    text-align: center;
  }

  /* line 201, ../sass/style.scss */
  .title {
    position: absolute;
    color: white;
    top: 23px;
    left: 290px;
    font-size: 3em;
    font-family: "Metal Mania", serif;
  }
}
@media (min-width: 695px) {
  /* line 213, ../sass/style.scss */
  .title {
    top: 45px;
    left: 325px;
  }
}
