$title: "Metal Mania", serif;
$headers: "Fredericka the Great", serif;
$body: "Candara", sans-serif;


$background: #D9D2D2;
$text: #2E2E2E;
// $links: #431211;
$links: #6E1514;
$link_background: #A7A2A2;
$links2: rgba(190,0,0,1);
$imgBG: rgba(190,0,0,0.4);