@import "compass/reset";
@import "variables";

body {
	font-family: $body;
	font-size: 1em;
}

#wrapper {

}

header {

	.logo {
		background: url("../images/logo4.png") black;
		height: 137px;
		width: 320px;

	}

	.title {

	}

	nav {
		ul {
			li {
				a {

				}
			}
		}
	}


}

#sidebar {

}

#content {

}

footer {

}